{% extends 'base.html' %} {% load static %}

<!-- Title Block  -->

{% block title %}
<title>Change Password</title>
{% endblock %}

<!-- Style Block  -->

{% block style %}
<style>


/* Container Styles */
.container-1 {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  margin: 1rem auto;
}

/* Form Container Styles */
.form-container {
  background-color: #fff;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  width: 100%;
  max-width: 400px;
  animation: fadeIn 0.8s ease-out;
}

.form-container h2 {
  text-align: center;
  margin-bottom: 20px;
  color: #735da5;
}

/* Input Group Styles */
.input-group {
  margin-bottom: 15px;
}

.input-group label {
  display: block;
  margin-bottom: 5px;
  color: #555;
}

.input-group input {
  width: 100%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
  font-size: 16px;
  transition: all 0.3s ease;
}

.input-group input:focus {
  border-color: #735da5;
  outline: none;
}

/* Button Styles */
.chform button {
  width: 100%;
  padding: 12px;
  background-color: #735da5;
  color: white;
  border: none;
  border-radius: 4px;
  font-size: 16px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.chform button:hover {
  background-color: #5c4792;
}

/* Media Queries for Responsiveness */
@media (max-width: 600px) {
  .form-container {
      padding: 15px;
      width: 90%;
  }
}

@keyframes fadeIn {
  0% {
      opacity: 0;
      transform: translateY(20px);
  }
  100% {
      opacity: 1;
      transform: translateY(0);
  }
}

  </style>
{% endblock %}

<!-- Content Block  -->
 {% block content %}
 <div class="container-1">
    <div class="form-container">
        <h2>Password Change</h2>
        <form action="{% url 'changepassword' %}" method="post" class="chform">
            {% csrf_token %}
            <div class="input-group">
                <label for="current-password">Current Password</label>
                <input type="password" id="current-password" name="current-password" required>
            </div>
            <div class="input-group">
                <label for="new-password">New Password</label>
                <input type="password" id="new-password" name="new-password" required>
            </div>
            <div class="input-group">
                <label for="confirm-password">Confirm Password</label>
                <input type="password" id="confirm-password" name="confirm-password" required>
            </div>
            <button type="submit">Change Password</button>
        </form>
    </div>
</div>
<hr>
 {% endblock %}